@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Cherry Bomb One", system-ui;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/img.jpg');
    background-size: cover;
    background-position: center;
}

.container {
   width: 420px;
  background-color: transparent;
  border: 2px solid rgba(200, 198, 202, 0.589);
  border-radius: 10px;
  color:rgb(244, 160, 255);
  padding: 30px 40px;
 box-shadow: rgba(0, 0, 0, 0.384) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 backdrop-filter: blur(20px);
}

.container h1 {
 
  font-size: 36px;
  text-align: center;
}

 .input-box {

    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
 }

 .input-box input {

   width: 100%;
   height: 100%;
   background-color: transparent;
   border: 2px solid #e29aff94;
   border-radius: 40px;
   outline: rgb(185, 111, 185);
   font-size: 16px;
   color: rgb(255, 255, 255);
   padding: 20px 45px 20px 20px;

 }

 .input-box input::placeholder {

    color: rgb(255, 255, 255);
 }

 .input-box i {

     position: absolute;
     right: 20px;
     top: 50%;
     transform: translateY(-50%);
     font-size:20px ;
 }

 .remember-forgot {

   display: flex;
   justify-content: space-between;
   margin: -15px 0 15px;

 }

 .remember-forgot label input {

      accent-color: rgb(255, 205, 255);
      margin-right: 5px;
 }

 .login {

    width: 100%;
    height: 50px;
    background-color: antiquewhite;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
 }

    .login:hover {

    background-color: transparent;
    border: 2px solid rgba(255, 251, 251, 0.247);
    color: aliceblue;
    transition: 0.5s;
 }

 .register-link {

    font-size: 14px;
    text-align: center;
    margin: 20px  0px  15px;
 }